# Prerequisites
*.d
*.vcxproj
*.vcxproj.filters

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin
*.elf
*.buildinfo
*.xml
*.vsarduino.h
*.TMP
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ArdWork/v14/.suo
/ArdWork/Luxmeter_Device_Driver.cpp.bak
/ArdWork/Picture_Module_Driver.cpp.bak
/ArdWork/WebServer_Wifi_Device_Driver.cpp.bak
/ArdWork/RGBLed_Mqqt_Wifi_Module_Driver.cpp.bak
/ArdWork/Debug/ArdWork.log
/.vs/ArdWork/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
